@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../components/Cake/cake.css");
@import url("../components/Carousel/carousel.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --D: 300px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  -webkit-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-bg {
  background: linear-gradient(1deg, #b69cd5, #9079ad, #d23794);
  background-size: 600% 600%;

  -webkit-animation: backgroundWave 5s ease infinite;
  -moz-animation: backgroundWave 5s ease infinite;
  animation: backgroundWave 5s ease infinite;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease;
}
.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}

@-webkit-keyframes backgroundWave {
  0% {
    background-position: 0% 58%;
  }
  50% {
    background-position: 100% 43%;
  }
  100% {
    background-position: 0% 58%;
  }
}
@-moz-keyframes backgroundWave {
  0% {
    background-position: 0% 58%;
  }
  50% {
    background-position: 100% 43%;
  }
  100% {
    background-position: 0% 58%;
  }
}
@keyframes backgroundWave {
  0% {
    background-position: 0% 58%;
  }
  50% {
    background-position: 100% 43%;
  }
  100% {
    background-position: 0% 58%;
  }
}
